DB_HOST=postgres_db
DB_PORT=5432
DB_NAME=catalog_AWB
DB_USER=admin
DB_PASSWORD=CHANGE_ME

MISTRAL_API_KEY=CHANGE_ME
MISTRAL_MODEL=mistral-medium-latest

GEMINI_API_KEY=CHANGE_ME
GEMINI_MODEL=gemini-2.5-flash

ENDPOINT=http://YOUR_MINIO_HOST:9000
ACCESS_KEY=CHANGE_ME
SECRET_KEY=CHANGE_ME
BUCKET=app-reports
