DB_HOST=localhost
DB_PORT=5432
DB_NAME=catalog_AWB
DB_USER=admin
DB_PASSWORD=admin123

MISTRAL_API_KEY=
MISTRAL_MODEL=mistral-medium-latest
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

ENDPOINT=http://localhost:9000
ACCESS_KEY=minioadmin
SECRET_KEY=minioadmin123
BUCKET=app-reports
